{% extends "base.html" %}
{% set active_page = "search" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <form class="form-horizontal"
        role="form"
        action=""
        method="post"
        name="meta_search">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Accumulo Key ID Search (Binary Search)</legend>
      {% if form.errors.row_id is not defined %}
      <div class="control-group">
        <label for="row_id" class="control-label">Row ID:</label>
        <div class="controls">
          {{ form.row_id(type="text",
                         class="input-xlarge",
                         placeholder="Row ID") }}
        </div>
      </div>
      {% else %}
      <div class="control-group error">
        <label for="row_id" class="control-label">Row ID:</label>
        <div class="controls">
          {{ form.row_id(type="text",
                         class="input-xlarge",
                         placeholder="Row ID") }}
          {% for error in form.errors.row_id %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Latitude text box -->
      <legend>Geohash Search</legend>
      {% if form.errors.latitude is not defined %}
      <div class="control-group">
        <label for="latitude" class="control-label">Latitude:</label>
        <div class="controls">
          {{ form.latitude(type="text",
                           class="input-sm",
                           placeholder="Latitude") }}
        </div>
      </div>
      {% else %}
      <div class="control-group error">
        <label for="latitude" class="control-label">Latitude:</label>
        <div class="controls">
          {{ form.latitude(type="text",
                            class="input-sm",
                            placeholder="Latitude") }}
          {% for error in form.errors.latitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Longitude text box -->
      {% if form.errors.longitude is not defined %}
      <div class="control-group">
        <label for="longitude" class="control-label">Longitude:</label>
        <div class="controls">
          {{ form.longitude(type="text",
                           class="input-sm",
                           placeholder="Longitude") }}
        </div>
      </div>
      {% else %}
      <div class="control-group error">
        <label for="longitude" class="control-label">Longitude:</label>
        <div class="controls">
          {{ form.longitude(type="text",
                           class="input-sm",
                           placeholder="Longitude") }}
          {% for error in form.errors.longitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Chained Iterator Set -->
      <legend>Chained Iterator Search</legend>
      <div class="control-group">
        <label for="image_title" class="control-label">Title:</label>
        <div class="controls">
          {{ form.image_title(type="text",
                             class="input-xlarge",
                             placeholder="Title") }}
        </div>
      </div>

      <div class="control-group">
        <label for="image_rep" class="control-label">
          Image Representation:
        </label>
        <div class="controls">
          {{ form.image_rep(type="button",
                            class="input-xlarge") }}
        </div>
      </div>

      <div class="control-group">
        <label for="image_source" class="control-label">Source:</label>
        <div class="controls">
          {{ form.image_source(type="text",
                               class="input-xlarge",
                               placeholder="Source") }}
        </div>
      </div>

      <div class="control-group">
        <label for="image_comments" class="control-label">Comments:</label>
        <div class="controls">
          {{ form.image_comments(type="text",
                                 class="input-xlarge",
                                 placeholder="Comments") }}
        </div>
      </div>

      <!-- GDELT Line Search -->
      <legend>GDELT Line (point to point) Search</legend>
      {% if form.errors.point_01_latitude is not defined and
            form.errors.point_01_longitude is not defined %}
      <div class="control-group">
        <label for="point_01" class="control-label">
            Point 1:
        </label>
        <div class="controls">
          {{ form.point_01_latitude(type="text",
                                    class="input-sm",
                                    placeholder="Latitude") }}
          {{ form.point_01_longitude(type="text",
                                     class="input-sm",
                                     placeholder="Longitude") }}
        </div>
      </div>
      {% else %}
      <div class="control-group error">
        <label for="point_01" class="control-label">
            Point 1:
        </label>
        <div class="controls">
          {{ form.point_01_latitude(type="text",
                                    class="input-sm",
                                    placeholder="Latitude") }}
          {{ form.point_01_longitude(type="text",
                                     class="input-sm",
                                     placeholder="Longitude") }}
          {% for error in form.errors.point_01_latitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
          {% for error in form.errors.point_01_longitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if form.errors.point_02_latitude is not defined and
            form.errors.point_02_longitude is not defined %}
      <div class="control-group">
        <label for="point_02" class="control-label">
            Point 2:
        </label>
        <div class="controls">
          {{ form.point_02_latitude(type="text",
                                    class="input-sm",
                                    placeholder="Latitude") }}
          {{ form.point_02_longitude(type="text",
                                     class="input-sm",
                                     placeholder="Longitude") }}
        </div>
      </div>
      {% else %}
      <div class="control-group error">
        <label for="point_02" class="control-label">
            Point 2:
        </label>
        <div class="controls">
          {{ form.point_02_latitude(type="text",
                                    class="input-sm",
                                    placeholder="Latitude") }}
          {{ form.point_02_longitude(type="text",
                                     class="input-sm",
                                     placeholder="Longitude") }}
          {% for error in form.errors.point_02_latitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
          {% for error in form.errors.point_02_longitude %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-primary" value="Search">
        </div>
      </div>
    </div>

    </fieldset>
  </form>
</div>
{% endblock %}
