{% extends "base.html" %}

{% block title %}Metadata{% endblock %}

{% block content %}
  <div class="container">
    {% for row_id, value in result.iteritems() %}

    <!-- Thumb display -->
    <div class="row">
      <div class="span5">
        <h2><small>Thumb: {{ row_id }}</small></h2>
          <table class="table table-condensed">
          <tr>
            <td>
              <div class="text-center">
                <img src="http://172.20.10.14:5150/geolib/thumb/{{ row_id }}.jpg"
                     class"img-thumbnail">
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Image metadata -->
      <div class="span7">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th class="span2">Family</th>
              <th>Qualifier</th>
            </tr>
          </thead>

          <h2><small>Image metadata: {{ row_id }}</small></h2>
        {% for key, value in value.iteritems() %}
          {% if key != "metadata" %}
          <tr>
            <td class="span2"> {{ key }} </td>
            <td> {{ value }} </td>
          </tr>
          {% endif %}
        {% endfor %}
        </table>
      </div>
    </div>

    <!-- NITF metadata -->
    <h2><small>NITF Metadata: {{ row_id }}</small></h2>
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>Family</th>
          <th>Qualifier</th>
        </tr>
      </thead>
      {% for key, value in result.iteritems() %}
        {% for nitf_family, nitf_qualifier in value.metadata.iteritems() %}
      <tr>
        <td> {{ nitf_family }} </td>
        <td> {{ nitf_qualifier }} </td>
      </tr>
        {% endfor %}
      {% endfor %}
    </table>
    {% endfor %}
  </div>
{% endblock %}
